        .details-produit {
            position: relative;
            width: 100%;
            padding: 20px;
        }
        
        .details-produit-header {
            position: relative;
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .details-produit-header h2 {
            font-weight: 600;
            font-size: 20px;
            color: var(--bouton);
        }
        
        .details-produit-header .btn {
            position: relative;
            color: var(--conflit);
            font-size: 25px;
        }
        
        .details-produit-header .btn-edit {
            font-size: 25px;
            color: var(--bouton);
        }
        
        .details-produit-containt {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 250px;
            grid-gap: 10px;
            background-color: var(--contenue);
            border-radius: 20px;
            box-shadow: 0 7px 5px var(--nuance);
            padding: 15px;
            overflow-x: hidden;
        }
        
        .details-produit-containt .col-image p {
            color: var(--bouton);
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 50px;
        }
        
        .details-produit-containt .col-image p span {
            color: var(--texte2);
            font-size: 13px;
            font-weight: 600;
        }
        
        .details-produit-containt .img-produit {
            position: relative;
            overflow: hidden;
            width: 350px;
            height: 300px;
            margin-bottom: 20px;
        }
        
        .details-produit-containt .img-produit img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .details-produit-containt .row-img {
            position: relative;
            width: 100%;
            padding: 20px;
            line-height: 20px;
            background-color: var(--nuance);
            overflow-x: hidden;
        }
        
        .details-produit-containt .row-img p {
            color: var(--texte);
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        
        .details-produit-containt .row-img a {
            padding: 5px 15px;
            background-color: var(--bouton);
            border-radius: 10px;
            color: var(--contenue);
            cursor: pointer;
        }
        
        .desc-produit h3 {
            color: var(--bouton);
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .desc-produit .row1 {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .desc-produit .row1 h4 {
            font-size: 13px;
            color: var(--texte);
            margin-right: 20px;
        }
        
        .desc-produit .row1 a {
            padding: 5px 10px;
            background-color: var(--bouton);
            color: var(--contenue);
            border-radius: 10px;
        }
        
        .desc-produit .row2 {
            position: relative;
            margin-bottom: 50px;
            line-height: 20px;
        }
        
        .desc-produit .row2 p {
            color: var(--texte2);
            font-size: 13px;
        }
        
        .desc-produit .row-interdit {
            position: relative;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--bouton);
        }
        
        .desc-produit .row-interdit .img-interdit {
            position: relative;
            width: 35px;
            height: 35px;
            overflow: hidden;
            margin-right: 15px;
        }
        
        .desc-produit .row-interdit .img-interdit img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
        
        .desc-produit .row-interdit p {
            color: var(--bouton);
            margin-right: 10px;
            font-size: 14px;
            font-weight: 600;
        }
        
        .desc-produit .row-interdit span {
            color: var(--texte2);
            font-weight: 600;
            font-size: 13px;
        }
        
        .desc-produit h4 {
            color: var(--bouton);
            margin-top: 20px;
            font-size: 18px;
        }
        
        .desc-produit h4 span {
            color: var(--texte2);
            font-size: 15px;
        }
        
        .desc-produit h1 {
            color: var(--bouton);
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        
        .desc-produit p {
            color: var(--texte);
            font-size: 18px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        
        .desc-produit .etat-produit {
            font-size: 13px;
            font-weight: 700;
        }
        
        .desc-produit .etat-produit.normale {
            color: var(--bouton);
        }
        
        .desc-produit .etat-produit.rupture {
            color: var(--conflit);
        }
        
        .desc-produit .etat-produit.seuil {
            color: var(--suspendu);
        }
        
        .produit-simulaire {
            position: relative;
            background-color: var(--contenue);
            border-radius: 20px;
            box-shadow: 0 7px 12px var(--nuance);
            width: 100%;
            padding: 10px;
        }
        
        .produit-simulaire .head-prod-sim {
            position: relative;
            display: flex;
            margin-bottom: 10px;
        }
        
        .produit-simulaire .head-prod-sim h2 {
            color: var(--bouton);
            font-size: 18px;
        }
        
        .produit-simulaire .containt-prod-sim {
            position: relative;
            max-height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: auto;
        }
        
        .containt-prod-sim .card-prod-sim {
            position: relative;
            max-width: 180px;
            padding: 10px;
            margin-bottom: 10px;
            background-color: var(--contenue);
            border-radius: 20px;
            box-shadow: 0 7px 12px var(--nuance);
        }
        
        .card-prod-sim .img-card-prod-sim {
            position: relative;
            width: 150px;
            height: 120px;
            overflow: hidden;
            margin: auto;
        }
        
        .card-prod-sim .img-card-prod-sim img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        
        .card-prod-sim .desc-prod-sim {
            position: relative;
            margin-top: 10px;
            line-height: 20px;
        }
        
        .card-prod-sim .desc-prod-sim p {
            color: var(--texte2);
            font-size: 13px;
        }
        
        .card-prod-sim .desc-prod-sim h4 {
            color: var(--bouton);
            font-size: 15px;
        }
        
        .notice {
            position: relative;
            width: 100%;
            padding: 20px;
            background-color: var(--contenue);
            box-shadow: 0 7px 12px var(--nuance);
            border-radius: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 360px;
        }
        
        .notice .containt-notice {
            position: relative;
            width: 100%;
            border-bottom: 1px solid var(--bouton);
            padding-bottom: 20px;
        }
        
        .notice .containt-notice h4 {
            color: var(--bouton);
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        
        .notice .containt-notice p {
            color: var(--texte2);
            font-size: 12px;
            line-height: 20px;
        }
        /* Design Responsive */
        
        @media(max-width:1150px) {
            .details-produit-containt {
                grid-template-columns: repeat(2, 1fr);
            }
            .produit-simulaire .containt-prod-sim {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                max-height: 300px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
        
        @media(max-width:500px) {
            .details-produit-containt {
                grid-template-columns: repeat(1, 1fr);
            }
            .produit-simulaire .containt-prod-sim {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                max-height: 300px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
        
        @media(max-width:450px) {
            .produit-simulaire .containt-prod-sim {
                grid-template-columns: repeat(2, 1fr);
                margin: auto;
            }
        }