        .details-produit {
            position: relative;
            width: 100%;
            padding: 20px;
        }
        
        .details-produit-header {
            position: relative;
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .details-produit-header h2 {
            font-weight: 600;
            font-size: 20px;
            color: var(--bouton);
        }
        
        .details-produit-header .btn {
            position: relative;
            padding: 5px;
            border-radius: 5px;
            color: var(--contenue);
            margin-right: 10px;
            background-color: var(--conflit);
        }
        
        .details-produit-header .btn-edit {
            padding: 5px;
            border-radius: 5px;
            color: var(--texte);
            background-color: var(--suspendu);
        }
        
        .details-produit-containt {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 350px 1fr;
            grid-gap: 10px;
            background-color: var(--contenue);
            border-radius: 20px;
            box-shadow: 0 7px 5px var(--nuance);
        }
        
        .details-produit-containt .img {
            position: relative;
            width: 350px;
            height: 280px;
            overflow: hidden;
        }
        
        .details-produit-containt .img img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .details-produit-containt .desc-header h4 {
            margin-top: 20px;
            line-height: 40px;
            color: var(--bouton);
            font-size: 16px;
            font-weight: 600;
        }
        
        .details-produit-containt .desc-containt {
            position: relative;
            line-height: 25px;
            overflow-y: scroll;
            min-height: 350px;
            min-width: 400px;
        }
        
        .details-produit-containt .desc-containt p {
            color: var(--texte);
            font-size: 13px;
            margin-bottom: 10px;
        }
        
        .details-produit-containt .desc-containt p span {
            color: var(--bouton);
            font-size: 16px;
            font-weight: 600;
        }
        
        .details-produit-containt .desc-containt .btn {
            position: relative;
            padding: 5px;
            background-color: var(--bouton);
            color: var(--contenue);
            margin: 10px;
            border-radius: 10px;
        }
        /* design responsive */
        
        @media (max-width: 760px) {
            .details-produit-containt {
                grid-template-columns: 250px 1fr;
            }
            .details-produit-containt .img {
                width: 250px;
                height: 250px;
            }
            .details-produit-containt .desc-containt {
                min-width: 300px;
            }
        }
        
        @media (max-width: 654px) {
            .details-produit-containt {
                grid-template-columns: repeat(1, 1fr);
                min-width: 300px;
            }
            .details-produit-containt .desc-containt {
                min-width: 300px;
            }
        }
        
        @media (max-width: 326px) {
            .details-produit-containt .desc-containt {
                min-width: 300px;
            }
            .details-produit-header {
                min-width: 300px;
            }
        }