/*TODO: clean it all up, finish flex, add aesthetics, icons, redefine to be relative to vh-vw, maybe rework v2 variant using scss and frames and real transitions? */

:root {
    --bouton: #1B7541;
    --fond: #47414127;
    --border: #33303002;
    --texte: #000000;
    --texte2: #444242ad;
    --contenue: #ffffff;
    --nuance: #0fce5f49;
    --conflit: #fa080891;
    --regle: #4dfa08b7;
    --suspendu: #f6fa08a9;
}

body {
    background-color: var(--contenue);
}

.groupe {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 30px;
}

.groupe .groupeCard {
    position: relative;
    max-width: 250px;
    height: 160px;
    background-color: var(--contenue);
    margin: 40px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--nuance);
    box-shadow: 0 5px 20px var(--bouton);
    transition: 0.5s ease-in-out;
    border-radius: 15px;
}

.groupe .groupeCard:hover {
    height: 220px;
}

.groupe .groupeCard .image {
    position: relative;
    width: 230px;
    height: 200px;
    top: -40%;
    margin: auto;
    box-shadow: 0 5px 20px var(--nuance);
    border-radius: 15px;
    z-index: 1;
}

.groupe .groupeCard .image .img {
    position: relative;
    width: 230px;
    height: 200px;
    overflow: hidden;
}

.groupe .groupeCard .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.groupe .groupeCard .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: var(--texte);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.groupe .groupeCard .content h3 {
    color: var(--bouton);
    font-weight: 600;
    font-size: 16px;
}

.groupe .groupeCard .content p {
    color: var(--texte2);
    font-size: 13px;
    font-weight: 700;
    margin-top: -10px;
}

.groupe .groupeCard .content a {
    padding: 10px 20px;
    background-color: var(--bouton);
    border-radius: 10px;
    color: var(--contenue);
    cursor: pointer;
}

.groupe .groupeCard:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}